<div class="color-palette-container">
    <div class="color primary-color"></div>
    <div class="color secondary-color"></div>
    <div class="color background-color"></div>
    <div class="color cta-color-primary"></div>
    <div class="color cta-color-secondary"></div>
</div>